*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #000;
    overflow-x: hidden;
    font-family: sans-serif;
    color: white;
}

nav{
    background: #000;
    color: white;
    padding: 1rem;
    z-index: 22;
}

.holder{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-size: 1.4rem;
}

li{
    display: flex;
}

.holder .bi-list{
    font-size: 2rem;
    display: none;
}


.front{
    color: white;
    position: relative;
    /* background: #000; */
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front .right{
    position: absolute;
    /* top: 10%; */
    right: -30%;
    width: 70%;
    object-fit: cover;
    z-index: -1;
}
.front .left{
    position: absolute;
    top: -25%;
    z-index:-1 ;
    left: -30%;
    width: 70%;
    object-fit: cover;
}

.content{
    z-index: 22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
    gap: 1.4rem;
}

.content h1{
    font-size:5rem ;
}

.content p{
    font-size:1.5rem ;
}

.content button{
    padding: 1rem 2rem;
    transition: all 0.7s;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.content button:nth-child(1){
    background: linear-gradient(101.81deg, rgb(240, 135, 255) -4.52%, rgb(110, 31, 206) 54.5%, rgba(110, 31, 206, 0.2) 101.41%);
    color: white;
}




.content button:nth-child(2){
    background: transparent;
    color: white;
    border: 2px solid white;
}


.content button:hover{
    transform: translateY(-10px);
    color: black;
    background: #fff;
}

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.imgs{
    width: 60%;
    margin: auto;
    display: flex;
    margin: 2rem 0;
}


.slider{
    display: flex;
    width: 60%;
    margin: auto;
    background: #1B1622;
    padding: 3rem;
    border-radius: 20px;
    justify-content: space-between;
    gap: 5rem;
}

.text{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.text button:nth-child(1){
    background: linear-gradient(101.81deg, rgb(240, 135, 255) -4.52%, rgb(110, 31, 206) 54.5%, rgba(110, 31, 206, 0.2) 101.41%);
    color: white;
    padding: 1rem 2rem;
    border-radius: 50px;
    border:  none;
}
.test{
    background: transparent;
    color: white;
    padding: 1rem 2rem;
    border-radius: 50px;
    border:  2px solid white;
}

.text p{
    line-height: 1.4;
}
    
.text h2{
    font-weight: normal;
}

::selection{
    background: #00FFBD;
    color: black;
}

.community{
    display: flex;
    padding: 2rem 0;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}


.count h1:nth-child(1){
    font-size: 8rem;
    font-weight: 100;
    background: linear-gradient(101.11deg,#f087ff 14.47%,#6e1fce 39.43%,rgba(110,31,206,.1) 76.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.count h1:nth-child(3){
    font-size: 8rem;
    font-weight: 100;
    background: linear-gradient(100.93deg,#1fcff1 15.61%,#234cb6 41.38%,rgba(35,76,182,.1) 79.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.count h1:nth-child(5){
    font-size: 8rem;
    font-weight: 100;
    background: linear-gradient(100.93deg,#1fcff1 15.61%,#234cb6 41.38%,rgba(35,76,182,.1) 79.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.count p{
    text-transform: uppercase;
    color: gray;
}


@media only screen and (max-width:600px){
    nav{
        z-index: 222 !important;
    }
    .holder{
        width: 100%;
        padding: 0;
        justify-content: space-between;
    }

    .menu-items{
        display: none;
    }

    .holder .bi-list{
        display: block;
        color: white !important;
        z-index: 333;
    }

    .front .right{
        height: 100vh;
        width: 100vw;
        right: 0;
        z-index: -2;
    }

    .front .left{
        display: none;
    }


    .content h1{
        font-size: 2rem;
    }

    .content{
        width: 100%;
    }

    .content h1{
        width: 80%;
        margin: auto;
    }
    .content p{
        font-size: 1.2rem;
    }

    .slider{
        flex-direction: column;
        width: 90%;
    }

    .text{
        width: 100%;
    }

    .community{
        flex-direction: column;
        text-align: center;
    }

    .count h1{
        font-size: 3rem !important;
    }

}